USE [SensitiveWords.SanitizerDb]
GO
/****** Object:  StoredProcedure [dbo].[sp_DELETE_ClientMessage]    Script Date: 26 Feb 2026 11:50:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create or ALTER     PROCEDURE [dbo].[sp_DELETE_ClientMessage] (@ClientMessageId BIGINT)
AS
BEGIN

    DELETE FROM ClientMessages WHERE ClientMessageId = @ClientMessageId

	IF @@ROWCOUNT > 0
        SELECT 1;
    ELSE
        SELECT 0;

END;
