USE [SensitiveWords.SanitizerDb]
GO
/****** Object:  StoredProcedure [dbo].[sp_GET_GetAllKeyWords]    Script Date: 25 Feb 2026 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create or ALTER   PROCEDURE [dbo].[sp_GET_GetAllKeyWords]
AS
BEGIN

    SELECT * FROM SanitizerKeyWords

END;
