USE [SensitiveWords.SanitizerDb]
GO
/****** Object:  StoredProcedure [dbo].[sp_POST_SaveClientMessage]    Script Date: 26 Feb 2026 13:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create or ALTER     PROCEDURE [dbo].[sp_POST_SaveClientMessage]
    @Message nvarchar(MAX)
AS
BEGIN
SET NOCOUNT ON;

    SET NOCOUNT ON;

    DECLARE @Sanitized NVARCHAR(MAX);

    ;WITH Words AS
    (
        SELECT value AS [Description], ordinal
        FROM STRING_SPLIT(@Message, ' ', 1)
    ),
    Processed AS
    (
        SELECT 
            CASE 
                WHEN EXISTS (
                    SELECT 1 
                    FROM dbo.SanitizerKeyWords b
                    WHERE LOWER(b.[Description]) = LOWER(w.[Description])
                )
                THEN REPLICATE('*', LEN(w.[Description]))
                ELSE w.[Description]
            END AS [Description],
            ordinal
        FROM Words w
    )
    SELECT @Sanitized =
        STRING_AGG([Description], ' ') WITHIN GROUP (ORDER BY ordinal)
    FROM Processed;

    INSERT INTO dbo.ClientMessages ([Message], SanitizedMessage, Active, CreatedDate)
    VALUES (@Message, @Sanitized, 1, GETDATE());

    DECLARE @NewId BIGINT = SCOPE_IDENTITY();

    SELECT *
    FROM dbo.ClientMessages
    WHERE ClientMessageId = @NewId;

END;
